/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
main{
    background-color: black;
}

/*PRESENTACION*/

.presentacion{
    background-color: black;
    background-image: url(../img/home/fondo\ inicio.jpg);
    padding: 400px 100px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.presentacion::before{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0, 0.2);
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.presentacion p{
    margin: 3px;
    text-align: center;
    position: relative;
    font-family: 'Montaga', serif;
    color: white;
    font-weight: 550;
}

.presentacion h1{
    position: relative;
    margin: 10px;
    text-align: center;
    font-family: 'Montaga', serif;
    color: white;
}

.presentacion a{
    position: relative;
    padding: 15px;
    font-weight: 650;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Montaga', serif;
    background-color: whitesmoke;
    color: black;
}


/* GRID SECCION DE COMPRAS POPULARES */
.prodPopulares{
    background-color: black;
}

/*SECCION DE COMPRAS POPULARES*/

.seccionPopulares p{
    background-color: black;
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.664);
    text-align: center;
    margin-bottom: 5px;
}

.seccionPopulares h2{
    background-color: black;
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.664);
    text-align: center;
    margin-bottom: 45px;
}

.seccionPopulares div div h2{
    font-family: 'Gentium Basic', serif;
    font-size: 25px;
}
.seccionPopulares div{
    font-family: 'Gentium Basic', serif;
    font-size: 20px;
}
.seccionPopulares div div a{
    display: flex;
    justify-content: center;
}


/*INICIO DEL FOOTER*/

footer{
    background-color: black;
}

.footer{
    margin-top: 200px;
    background-color: black;
}


/*REDES SOCIALES*/

.redesSociales h4{
    font-family: 'Gentium Basic', serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.664);
}

.redesSociales nav ul li{
    display: inline-block;
    margin: 15px;
}


/* SECCION DE AYUDA DEL FOOTER*/

.ayudaFooter h4{
    font-family: 'Gentium Basic', serif;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.664);
    margin-bottom: 15px;

}

.ayudaFooter nav ul p{
    font-family: 'Gentium Basic', serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.664);
    margin: 4px;
}


/* SECCION DE SUSCRIPCION AL NEWSLETTER*/

.newsletter p{
    font-family: 'Gentium Basic', serif;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.664);
    margin-bottom: 3px;
}

/* Derechos reservados*/

.derechos h5{
    font-family: 'Gentium Basic', serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.664);
}

.derechos a{
    text-decoration: none;
    font-family: 'Gentium Basic', serif;
    color: rgba(240, 248, 255, 0.842);
}

/*seccion de la TIENDA */

.tienda{
    font-family: 'Gentium Basic', serif;
    color: rgba(240, 248, 255, 0.842);
    text-transform: uppercase;
}

.tienda h1{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.tienda div div{
    font-family: 'Gentium Basic', serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*seccion de INICIAR SESION*/
.iniciarSesion{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}


/* seccion de LOOKBOOK */

.lookbook{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}
.lookbook section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lookbook section h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

/*seccion de RECUPERAR CONTRASEÑA*/

.passRecover{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}

/* seccion para REGISTRARSE */

.cuentaNueva{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}



