/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


/*HEADER Y SECCIONES*/
header{
    position: sticky;
    top: 0%;
    z-index: 1;
}
.menu{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.secciones li{
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.secciones li a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Montaga', serif;
}


/*GRID INDEX*/
.mainIndex{
    display: grid;
    grid-template-areas: "presentacion presentacion presentacion presentacion"
                        "item01 item02 item03 item04";
    justify-content: center;
}

.presentacion{
    grid-area: presentacion;
}
.item01{
    grid-area: item01;
}
.item02{
    grid-area: item02;
}
.item03{
    grid-area: item03;
}
.item04{
    grid-area: item04;
}

/* media queries INDEX*/
@media only screen and (max-width: 1024px){
    .mainIndex{
        display: grid;
        grid-template-areas: "presentacion presentacion"
                            "item01 item02 item03 item04";
        justify-content: center;
    }

    .secciones{
        font-size: 17px;
    }
    .presentacion p{
        font-size: 15px;
    }
    .presentacion h1{
        font-size: 28px;
        margin-bottom: 15px;
    }
    .prodPopulares ul{
        display: flex;
        align-items: center;
    }
    .prodPopulares ul li{
        display: inline-block;
        font-size: 12px;
    }
    .prodPopulares ul li img{
        height: 150px;
        width: 150px;
    }
    .seccionPopulares{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}

@media only screen and (max-width: 600px){
    .mainIndex{
        display: grid;
        grid-template-areas: "presentacion presentacion"
                            "item01 item02 item03 item04";
        justify-content: center;
    }

    .secciones{
        font-size: 15px;
    }
    .presentacion p{
        font-size: 15px;
    }
    .presentacion h1{
        font-size: 28px;
        margin-bottom: 15px;
    }
    .prodPopulares ul{
        display: flex;
        align-items: center;
    }
    .prodPopulares ul li{
        display: inline-block;
        font-size: 12px;
    }
    .prodPopulares ul li img{
        height: 150px;
        width: 150px;
    }
    .seccionPopulares{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}

/*PRESENTACION*/

.presentacion{
    grid-area: presentacion;
    background-image: url(../img/home/fondo\ inicio.jpg);
    padding: 400px 100px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.presentacion::before{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0, 0.2);
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.presentacion p{
    margin: 3px;
    text-align: center;
    position: relative;
    font-family: 'Montaga', serif;
    color: white;
    font-weight: 550;
}

.presentacion h1{
    position: relative;
    margin: 10px;
    text-align: center;
    font-family: 'Montaga', serif;
    color: white;
}

.presentacion a{
    position: relative;
    padding: 15px;
    font-weight: 650;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Montaga', serif;
    background-color: aliceblue;
    color: black;
}


/* GRID SECCION DE COMPRAS POPULARES */
.prodPopulares{
    display: grid;
}

/*SECCION DE COMPRAS POPULARES*/

.seccionPopulares p{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.664);
    text-align: center;
    margin-bottom: 5px;
}

.seccionPopulares h2{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.664);
    text-align: center;
    margin-bottom: 45px;
}

.prodPopulares ul li{
    display: inline-block;
    font-family: 'Gentium Basic', serif;
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.664);
    margin:40px;
    text-align: center;
}


/*INICIO DEL FOOTER*/

.linea {
    border-top: 1px solid rgba(240, 248, 255, 0.212);
    height: 1px;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 50px;
    }

.footer{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;

}


/*REDES SOCIALES*/

.redesSociales h4{
    font-family: 'Gentium Basic', serif;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.664);
}

.redesSociales nav ul li{
    display: inline-block;
    margin: 5px;
}


/* SECCION DE AYUDA DEL FOOTER*/

.ayudaFooter h4{
    font-family: 'Gentium Basic', serif;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.664);
    margin-bottom: 15px;

}

.ayudaFooter nav ul p{
    font-family: 'Gentium Basic', serif;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.664);
    margin: 4px;
}


/* SECCION DE SUSCRIPCION AL NEWSLETTER*/

.newsletter p{
    font-family: 'Gentium Basic', serif;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.664);
    margin-bottom: 3px;
}

/* Derechos reservados*/

.derechos h5{
    font-family: 'Gentium Basic', serif;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.664);
}

.derechos a{
    text-decoration: none;
    font-family: 'Gentium Basic', serif;
    color: rgba(240, 248, 255, 0.842);
}

/*seccion de la TIENDA */
.tienda{
    font-family: 'Gentium Basic', serif;
    color: rgba(240, 248, 255, 0.842);
    text-transform: uppercase;
}


/*seccion de INICIAR SESION*/
.iniciarSesion{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}


/* seccion de LOOKBOOK */

.lookbook{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}


/*seccion de RECUPERAR CONTRASEÑA*/

.passRecover{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}

/* seccion para REGISTRARSE */

.cuentaNueva{
    font-family: 'Montaga', serif;
    color: rgba(240, 248, 255, 0.842);
}



